@import "tailwindcss";

/* General */
:root{
    --ff-primary: "Kantumruy Pro", sans-serif;
    --ff-secundary:"Lexend", sans-serif;
    --clr-azul-1: #D4DFF2;
    --clr-azul-2: #295AA8;
    --clr-azul-3: #0F151E;
    --clr-gris-1: #D9D9D9;
    --clr-verde: #3AD083;
}

.App {
  display: flex;
   height: 100vh;
  overflow: hidden;
}

/* Font Classes */
.font-primary {
  font-family: var(--ff-primary);
}

.font-secondary {
  font-family: var(--ff-secundary);
}

/* Color Classes */
.text-azul-1 {
  color: var(--clr-azul-1);
}

.text-azul-2 {
  color: var(--clr-azul-2);
}

.text-azul-3 {
  color: var(--clr-azul-3);
}

.text-verde {
  color: var(--clr-verde);
}

.bg-azul-1 {
  background-color: var(--clr-azul-1);
}

.bg-azul-2 {
  background-color: var(--clr-azul-2);
}

.bg-azul-3 {
  background-color: var(--clr-azul-3);
}

.bg-gris-1 {
  background-color: var(--clr-gris-1);
}

.bg-verde {
  background-color: var(--clr-verde);
}

